.error-404 {
  padding: 70px 0 70px;
  p {
    font-size: 25px;
    font-weight: 700;
    line-height: 49px;
  }
}

body {
  font-family: $font2;
  color: $color-black;
  font-size: 14px;
  letter-spacing: 1px;
  @include respond-to('small') {
    font-size: 16px;
  }

  h1 {
    font-family: $font1;
    font-weight: 700;
    font-size: 68px;
    line-height: 75px;
    position: relative;
    padding: 40px 0;

    @include respond-to('medium') {
      font-size: 30px;
    }
    @include respond-to('small') {
      font-size: 25px;
    }
  }

  h2 {
    font-family: $font1;
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    padding: 32px 0 25px;
    color: $color-blue-1;
    position: relative;
    margin-bottom: 50px;
    &::after {
      content: '';
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 75px;
      height: 3px;
      background-color: $color-blue-1;
    }
    @include respond-to('medium') {
      font-size: 25px;
    }
    @include respond-to('small') {
      font-size: 20px;
    }
  }

  h3 {
    font-family: $font1;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    padding: 25px 0 18px;
    @include respond-to('small') {
      font-size: 22px;
      margin: 4px 0;
      line-height: 27px;
    }
  }

  h4 {
    font-family: $font1;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 20px 0;
    @include respond-to('small') {
      font-size: 14px;
    }
  }

  p {
    font-family: $font2;
    font-size: 16px;

    line-height: 22px;
    margin: 10px 0;
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  a {
    font-size: 16px;
  }

  ul {
    margin: 20px 0;
    li {
      margin: 10px 0;
      list-style-position: inside;
    }
  }
}

.seperator-right {
  position: relative;
  padding-right: 15px;
  &:before {
    background: $color-white;
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
  }
}

.section {
  margin-bottom: 340px;
}

.btn-style {
  color: $color-white;
  background-color: $color-black;
  padding: 8px 22px;
  font-size: 18px;
  text-decoration: unset;
  @include transition(0.3s);
  &:hover {
    color: $color-white;
    border-radius: 18px;
    background-color: $color-blue-1;
  }
}
