.banner-section {
  background: $bg-gradient;
  padding: 50px 0;
  position: relative;
  &::after {
    @include triangle($color-blue-2);
  }
  .banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 26px;
      line-height: 32px;
      color: $color-white;
      font-weight: bold;
    }
    .btn-style {
      background-color: $color-white;
      color: $color-black;
      padding: 8px 46px;
      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }
}

.skills-section {
  .skills-content {
    background: $bg-gradient;
    text-align: center;
    padding: 20px;
    min-height: 300px;
    box-shadow: 3px 4px 6px $color-blue-1;
    @include transition(0.5s);

    &:hover {
      border-radius: 18px;
      background: linear-gradient(transparent, transparent);
      h3,
      li,
      i {
        color: $color-blue-1;
      }
    }
    h3 {
      padding: 0;
      color: $color-white;
      position: relative;
      margin-bottom: 30px;
      @include transition(0.5s);

      i {
        position: absolute;
        right: 0;
        color: $color-white;
        @include transition(0.5s);
      }
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
      li {
        color: $color-white;
        list-style-type: none;
        font-weight: bold;
        font-size: 20px;
        @include transition(0.5s);
      }
    }
  }
  .front-end-skills {
    &:hover {
      h3 i {
        animation: rotate3DY 0.6s linear infinite alternate forwards;
      }
    }
  }
  .tools-skills {
    &:hover {
      h3 i {
        animation: rotate360 1.5s linear infinite forwards;
      }
    }
  }

  .others-skills {
    &:hover {
      h3 i {
        animation: writing 1.5s linear infinite alternate forwards;
      }
    }
  }
}

@keyframes rotate3DY {
  0% {
    transform: rotate3d(0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes writing {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

.projects-section {
  .projects-container {
    padding-left: 0;
    li {
      display: flex;
      margin-bottom: 100px;
      .infos-container {
        background-color: $color-bg-grey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        h4 {
          color: $color-blue-1;
          font-size: 32px;
        }
        h5 {
          font-size: 18px;
          a {
            color: $color-blue-1;
            text-decoration: none;
            font-size: 18px;
            &:hover {
              font-weight: bold;
            }
          }
        }
        .technologies {
          span {
            background-color: $color-black;
            color: $color-white;
            @include transition(0.3s);
            padding: 4px 8px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            &:hover {
              background-color: $color-blue-1;
              border-radius: 18px;
            }
          }
        }
        a {
          margin-top: 30px;
        }
      }
      &.project-odd {
        .infos-container {
          padding: 10px 30px 30px 50px;
        }
      }
      &.project-even {
        .infos-container {
          padding: 10px 50px 30px 30px;
        }
      }
      .img-container {
        position: relative;
        &:hover {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.219);
          }
          i {
            opacity: 1;
          }
        }
        i {
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 46px;
          color: $color-white;
          opacity: 0;
          @include transition(0.3s);
        }
      }
    }
  }
  .btn-container {
    text-align: center;
    margin-top: 75px;
  }
}
