.banner-section {
  background: linear-gradient(160deg, $color-blue-1, #3ab9eb, #8ecee9);
  padding: 50px 0;
  position: relative;
  &::after {
    @include triangle($color-blue-1);
  }
  .banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 24px;
      line-height: 32px;
      color: $color-white;
    }
    .btn-style {
      background-color: $color-white;
      color: $color-black;
      padding: 8px 46px;
      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }
}
