.projects-page {
  margin-top: 100px;
  position: relative;
  #home-link {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translate(-50%, 0);
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $color-blue-1;
      text-align: center;
      @include transition(0.3s);
      &:hover {
        font-size: 18px;
        i {
          font-size: 36px;
          @include transition(0.3s);
        }
      }
      i {
        font-size: 32px;
      }
    }
  }
  h1 {
    text-align: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translate(-50%, 0);
      background: $color-blue-1;
      width: 100px;
      height: 5px;
    }
  }
  h2 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 100px;
    &::after {
      content: unset;
    }
  }
  .nav-projects {
    ul {
      display: flex;
      justify-content: center;
      li {
        list-style-type: none;
        button {
          color: $color-white;
          background: $color-black;
          padding: 8px 16px;
          border: unset;
          font-size: 18px;
          font-weight: bold;
          &.active {
            background: $bg-gradient;
          }
          &:hover {
            background: $bg-gradient;
          }
        }
      }
    }
  }
  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    .project {
      width: 45%;
      margin: 0 30px 30px 30px;
    }
    li {
      list-style-type: none;
      .img-container {
        position: relative;
        &:hover {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 39%);
          }
          i {
            opacity: 1;
          }
        }
        img {
          max-width: 100%;
        }
        i {
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 46px;
          color: $color-white;
          opacity: 0;
          @include transition(0.3s);
        }
      }
    }
    .infos-container {
      background: $bg-gradient;
      padding: 15px;
      text-align: center;
      min-height: 415px;
      p.technologies {
        margin: 50px 0;
      }
      p {
        color: $color-white;
        margin: 20px 0;
      }
      h4 {
        color: $color-white;
        font-size: 32px;
      }
      h5 {
        font-size: 18px;
        color: $color-white;
        a {
          color: $color-white;
          text-decoration: underline;
          font-size: 18px;
          &:hover {
            font-weight: bold;
          }
        }
      }
      .technologies {
        strong {
          display: inline-block;
          margin-bottom: 15px;
        }
        span {
          background-color: $color-white;
          color: $color-black;
          @include transition(0.3s);
          padding: 4px 8px;
          font-weight: bold;
          cursor: pointer;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            background-color: $color-black;
            border-radius: 18px;
            color: $color-white;
          }
        }
      }
      a.btn-style {
        margin-top: 30px;
        background-color: $color-white;
        color: $color-black;
        &:hover {
          background: $color-black;
          color: $color-white;
        }
      }
      .btn-container {
        a {
          margin-right: 30px;
        }
      }
    }
  }
}
