header {
  height: 100vh;
  position: relative;
  @include respond-to('xsmall') {
    height: unset;
    margin-top: 100px;
  }
  .header-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    @include respond-to('xsmall') {
      position: unset;
    }
    h1 {
      span {
        color: $color-blue-1;
      }
    }
    .btn-container {
      transform: translate(-50px, 0);
      display: inline-block;
      &.show {
        transform: translate(0, 0);
      }
    }
  }
}

@keyframes growHor {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

nav.nav {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: $color-white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include respond-to('xsmall') {
    position: relative;
  }

  .icon-burger-container {
    display: none;
    text-align: center;
    margin-top: 15px;
    @include respond-to('xsmall') {
      display: block;
    }
    i {
      font-size: 26px;
      color: $color-blue-1;
    }
    #btn-sm-nav {
      border: unset;
      background: unset;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    @include transition(0.3s);
    @include respond-to('xsmall') {
      flex-direction: column;
      align-items: center;
      opacity: 0;
      transform: translate(-50%, -250px);
      left: 50%;
      position: absolute;
    }
    &.active-nav {
      position: relative;
      opacity: 1;
      transform: translate(-50%, 0);
      left: 50%;
    }
    li {
      margin-right: 30px;
      list-style-type: none;
      @include respond-to('xsmall') {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $color-black;
        text-decoration: unset;
        font-size: 18px;
        font-weight: bold;
        @include transition(0.3s);
        &:hover {
          color: $color-blue-1;
        }
        &.active {
          color: $color-blue-1;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 3px;
            background-color: $color-blue-1;
            animation: growHor 0.3s linear forwards;
          }
        }
      }
    }
  }
}
