@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == 'ipad' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == 'break' {
    @media (max-width: 999px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == 'xlarge' {
    @media (max-width: 1400px) {
      @content;
    }
  }
}

/// Transition
@mixin transition($v1) {
  -webkit-transition: all $v1 ease-in-out;
  -moz-transition: all $v1 ease-in-out;
  -o-transition: all $v1 ease-in-out;
  transition: all $v1 ease-in-out;
}

@mixin translate($v1, $v2) {
  -webkit-transform: translate($v1, $v2);
  -moz-transform: translate($v1, $v2);
  -o-transform: translate($v1, $v2);
  transform: translate($v1, $v2);
}

@mixin scale($v1) {
  -webkit-transform: scale($v1);
  -moz-transform: scale($v1);
  -o-transform: scale($v1);
  transform: scale($v1);
}

@mixin triangle($color) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-bottom: 0;
  border-top: 40px solid #1193c8;
  transform: translate(-50%, 0px);
  bottom: -40px;
  left: calc(50% - 0px);
}
